* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "section";
}

.a, .b, .c {
    border: 3px solid transparent;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}

.a {
    border-color: #ffffba;
    grid-area: header;
}

.b {
    border-color: #ffdfba;
    grid-area: main;
}

.c {
    border-color: #baffc9;
    grid-area: section;
}

@media screen and (min-width: 600px) {
    body {
        max-width: 1200px;
        margin: 0 auto;
        grid-template-areas:
            "header header"
            "section main";

        grid-template-columns: 50% 50%;
        justify-content: center;

    }
}