* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.a, .b, .c {
    border: 3px solid transparent;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

body{
    display: grid;
}
.a {
    border-color: #ffffba
}

.b {
    border-color: #ffdfba;
}

.c {
    border-color: #baffc9;
    order: 1;
}

@media (min-width: 600px) {

body{
    grid-template-areas: 
    "kolumna-a kolumna-a"
    "kolumna-b kolumna-c";
    grid-template-columns: minmax(auto, 600px) minmax(auto, 600px);
    justify-content: center;
}

.a{
    grid-area: kolumna-a;
}
.b{
    grid-area: kolumna-b;
}
.c{
    grid-area: kolumna-c;
}
}