* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas:
        "top"
        "content"
        "comments";

    grid-template-rows:
        50vh 50vh 50vh;
}


header {
    grid-area: top;
}

main {
    grid-area: content;
}

section {
    grid-area: comments;
}


.a, .b, .c {
    border: 3px solid transparent;
    min-height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.a {
    border-color: #ffffba
}

.b {
    border-color: #ffdfba;
}

.c {
    border-color: #baffc9;
}

@media(max-width:600px) {

    body {
        max-width: 1200px;
        grid-template-areas:
            "top top"
            "content comments";

        grid-template-columns:
            50% 50%;

    }

}