* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    margin: 0 auto;
    max-width: 900px;
    grid-template-areas: 
        "a"
        "b"
        "c";
}

@media (min-width: 600px) {
    body {
        grid-template-areas: 
        "a a"
        "b c";
    }
}


.a, .b, .c {
    border: 3px solid transparent;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.a {
    border-color: #ffffba;
    grid-area: a;
}

.b {
    border-color: #ffdfba;
    grid-area: b;
}

.c {
    border-color: #baffc9;
    grid-area: c;
}


