* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas:
        "a"
        "b"                        
        "c";                  
    grid-template-rows: 1fr 1fr 1fr;
    
}
.a, .b, .c {
    border: 3px solid transparent;
    min-height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.a {
    border-color: #ffffba;
    grid-area: a;
}

.b {
    border-color: #ffdfba;
    grid-area: b;
}

.c {
    border-color: #baffc9;
    grid-area: c;
}