body {
    margin: 0 auto; 
    
    display: grid;
    grid-template-areas: 
        "a a"
        "c b"        
    ;
    grid-template-columns:
        minmax(auto, 1200px)
        minmax(auto, 50%)
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}
