@media (max-width: 600px) {
    body {
        display: grid;
        grid-template-areas: 
            "a a"
            "b c";
     
        grid-template-columns: 70% 30%;
        
        justify-content: center;
        align-items: center;
    }
    
    .a, .b, .c {
        border: 3px solid transparent;
        /* min-height: 50px; */
        height: 50vh;
    
    }
    
    header {
        grid-area: a;
    }
    
    section {
        grid-area: b;
    }
    
    main {
        grid-area: c;
    }
}
