.a, .b, .c {
    border: 3px solid transparent;
    min-height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.a {
    border-color: magenta;
    height: 50vh;
}

.b {
    border-color: crimson;
    height: 50vh;
}

.c {
    border-color: lime;
    height: 50vh;
}