/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

h1 {
    padding: 20px 0;
    text-align: center;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

section#about {
    margin: 0 auto;
    width: 80%;
    line-height: 1.6;
}

ul li {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px; 
    background-color: #fff; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

ul {
    list-style: none;
    padding: 20px 0;
    background-color: #f4f4f4; 
    width: 80%;
    margin: 0 auto;
}

ul li:last-child {
    border-bottom: none;
}

ul li a {
    text-decoration: none;
    color: #333;
}

ul li a:hover {
    color: #888;
}

button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #888;
}