@media (min-width: 600px) {
    .nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .hamburger, input {
        display: none;
    }
    .nav__item {
        position: relative;
    }
    .dropdown{
        position: absolute;
        top : calc(100% + 2px);
        left: 0;
        list-style: none;
        background-color:red;
        width: 100%;
        display: none;
    }
    .nav__item:hover .dropdown {
        display: block;

    }
    
   
    
}