@media (min-width: 601px) and (max-width: 2000px) {
    body {
        background-color: blue;
    }
    .nav__items {
        background-color: white;
        padding: 20px 40px;
        border-top: 5px solid transparent;
        display: flex;
        justify-content: space-around;
    }

    .nav__item,
    .menu__dropdown {
        margin-bottom: 20px;
        margin-top: 20px;
        width: 200px;
    }

    .menu__dropdown {
        display: flex;
        justify-content: space-around;
        display: block;
    }

    .menu__dropdown:hover > .menu__dropdown-item {
        display: block;
    }

    .menu__dropdown-item {
        position: absolute;
        background-color: white;
        display: none;
    }
    label,
    input {
        display: none;
    }
}
