@font-face {
  font-family: 'Open Sans';
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
}

:root{
  --color-menu-bgc: #ffc300;
  --color-list-bgc: #f0004e;
}

a{
  text-decoration: none;
}

