* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: black;
    border: none;
}

.center {
    width: 100%;

    display: flex;
    justify-content: center;
}