.nav {
    background-color: var(--main);
    padding: 20px 40px;
}
.nav__hamburger{
    display: block;
    width: 3rem;
    height: 2rem;

    border-top: 3px solid #000;
    border-bottom: 3px solid #000;

    float: right;
}
.nav__hamburger::after{
    display: block;
    content: '';
    height: 3px;
    background-color: #000;
    position: relative;
    top: 6px;
    left: 6px;
}
.nav__toggler{
    display: none;
}

.nav__list{
    display: none;
}
.nav__list--dropdown{
    display: block;
}

.nav__toggler:checked + .nav__list{
    display: block;
}
.nav__list--dropdown{
    padding-left:3rem;
}
.nav__item{
    padding: 5px 10px;
}
.nav__link{
    text-decoration: none;
    color: #444;
}
.nav__link:hover{
    text-decoration: underline;
}