@media (max-width: 600px) {
    body {
        background-color: rgb(33, 194, 28);
    }
    .nav__item {
        border: 1px solid #bbb;
        margin: 5px;
        padding: 5px 10px;
        text-align: center;
    }
}
