.navbar {
  position: relative;
  height: 60px;
}

.navbar__checkbox:checked ~ .navbar__container {
  display: block;
}
.navbar__checkbox:checked ~ .navbar__button > .hamburger {
  content: url('../assets/cross.png');
}
.hamburger {
  width: 40px;
  height: 40px;
}

.navbar__container {
  display: none;
  padding-top: 60px;
  padding-bottom: 20px;
  width: 100%;
}
.navbar__item {
  padding: 15px 0;
  padding-left: 20px;
  background-color: black;
}

.navbar__item--parent:hover {
  padding-bottom: 0;
}

.navbar__item:hover {
  background-color: white;
}
.navbar__item:hover > .item {
  color: black;
}

.navbar__sub-container {
  display: none;
}
.navbar__item:hover > .navbar__sub-container {
  display: unset;
}

.navbar__item--sub {
  position: relative;
  margin-left: -20px;
  left: 0;
  padding-left: 40px;
  background-color: rgb(243, 242, 242);
}
.navbar__item--sub .item {
  color: black;
}
.navbar__item--sub:first-child {
  margin-top: 15px;
}
.navbar__item:hover .navbar__item--sub {
  border-top: 1px solid rgb(67, 67, 67);
}
.navbar__item--sub:hover {
  background-color: rgb(81, 81, 81);
}
.navbar__item--sub:hover .item {
  color: white;
}

.navbar__button {
  position: absolute;
  top: 0;
  right: 0;

  padding: 10px 20px;
}