.nav {
  background-color: var(--main);
  padding: 20px 40px;
}
.nav__toggler {
  display: none;
}
.nav__hamburger {
  display: block;
  float: right;
}
.nav__list{
  display: none;
}
.nav__list--dropdown{
    display: block;
}

.nav__toggler:checked + .nav__list {
  display: block;
}
.nav__list--dropdown {
  padding-left: 3rem;
}
.nav__item {
  padding: 5px;
}
.nav__link {
  text-decoration: none;
  color: black;
}
.nav__link:hover {
  text-decoration: underline;
}
