body {
    background-color: #F5F5F5;
}

/* LINK */
a {
    text-decoration: none;
}

a:hover {
    color: #8b8b8b;
}

a:visited {
    color: black;
}

/* END OF LINK */
/* BUTTON */

.hamburger {
    width: 10vw;
    height: 5vh;
    margin: 10px;
    border: 0;
    border-top: 4px solid grey;
    background: transparent;
    position: relative;
    transition: 0.3s transform linear;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 4px solid grey;
    transform: translateY(6px);
}

.hamburger::after {
    transform: translateY(17px);
    transition: 0.3s transform linear;
}

.hamburger:focus {
    transform: rotate(45deg) translateX(-7px) translateY(7px);
    border: none;
}

.hamburger:focus::after {
    transform: rotate(-90deg) translate(-7px);
}

/* END OF BUTTON */
/* MENU */

.menu {
    display: none;
}

.hamburger:focus+ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 3rem 3rem;

}

.menu__item {
    border: 1px solid #009AE1;
    background-color: #FFFFFF;
}

.drp-menu {
    display: block;
    position: absolute;
    left: 49%;
    top: 15%;
}

.drp__menu--list {
    position: relative;
}

.item1 {
    background-color: #e7e5e5;
    min-height: 1.5rem;
    border: 1px solid #009AE1;
}

.item2 {
    background-color: #e7e5e5;
    min-height: 1.5rem;
    border: 1px solid #009AE1;
}