.nav {
	background-color: var(--main);
	padding: 2rem 1rem 2rem 0;
}

.nav__hamburger {
	display: block;
	width: 3rem;
	height: 2rem;
	border-top: 0.3rem solid black;
	border-bottom: 0.3rem solid black;
	border-radius: 0.2rem;
	float: right;
}
.nav__hamburger::after {
	content: '';
	display: block;
	height: 0.3rem;
	background-color: black;
	position: relative;
	top: 0.5rem;
	border-radius: 0.2rem;
}
.nav__toggler {
	display: none;
}
.nav__list {
	display: none;
}
.nav__list--dropdown {
	display: block;
	padding-left: 2rem;
	font-size: 1.6rem;
}
.nav__item {
	padding: 0.5rem;
}
.nav__link {
	color: var(--link-color);
	padding: 0.5rem 1rem;
	transition: all 0.2s ease-in-out;
}

.nav__link:hover {
	background-color: var(--link-active);
	border-radius: 2rem;
}
.nav__link:active {
	color: var(--link-active);
}
.nav__toggler:checked ~ .nav__list {
	display: block;
}
