@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100dvh;
  background-image: url("../images/photorelistic.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  background: linear-gradient(rgba(108, 107, 99, 0.5), rgba(108, 107, 99, 0.5));
  position: fixed;
  width: 100%;
  position: relative;
}

nav {
  display: flex;
  height: 70px;
  padding: 2%;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 200px;
}

img {
  width: 45%;
}

.content {
  text-align: right;
}

.links ul {
  position: absolute;
  background: #f1953a;
  top: 70px;
  z-index: 99;
  visibility: hidden;
  transition: all 0.3s ease;
}

li:hover ul.dropmenu1 {
  visibility: visible;
}

.dropmenu2:hover ul li {
  visibility: visible;
  background: #f1953a;
}

.content .links ul li {
  position: relative;
}

.content .links ul ul {
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}

.content .links ul li {
  display: block;
  line-height: 30px;
}

.content ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
}

.content ul li a {
  flex: 2;
  color: #000000;
}

.content ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f1953a;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.content ul li:hover::after {
  width: 100%;
}

/* HAMBURGER MENU START */
.hamburger {
  position: relative;
  top: 20%;
  right: 0;
  width: 30px;
  height: 4px;
  background: #000000;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  height: 4px;
  right: 0;
  background: #000000;
  border-radius: 10px;
  transition: 0.3s;
}

.hamburger::before {
  top: -8px;
  width: 30px;
}

.hamburger::after {
  top: 8px;
  width: 30px;
}

.toggle {
  position: absolute;
  width: 30px;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}

.hamburger,
.toggle {
  display: none;
}

.content input:checked ~ .hamburger {
  background: transparent;
}

.content input:checked ~ .hamburger::before {
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}
.content input:checked ~ .hamburger::after {
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}

.content input:checked ~ .links {
  right: 0;
}

/* END HAMBURGER  */

.text {
  font-size: clamp(5rem, 1vw + 3rem, 3.2rem);
  height: 50px;
  width: 100%;
  color: #f1953a;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .hamburger,
  .toggle {
    display: block;
  }

  .links {
    justify-content: start;
    flex-direction: column;
    align-items: center;
    background: #f1953a;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 65px;
    box-shadow: 0px 0px 10px rgba(241, 149, 58, 0.9);
  }

  .links li {
    width: 100%;
    display: block;
  }

  .links li a {
    padding: 10px;
  }

 .dropmenu1  {
    display: none;
  }

  .text {
    padding-top: 20px;
    font-size: calc(2vw + 3rem);
  }

  .content {
    text-align: center;
  }
}
