.navbar__item:hover {
  background-color: black;
}
.navbar__item:hover .item {
  color: white;
}
.navbar__item--sub:first-child {
  margin: 0;
}
.navbar__button {
  display: none;
}

.navbar__container {
  display: flex;
  padding: 0 20px;
  height: 100%;
}

.navbar__item,
.navbar__container > :first-child {
  position: relative;
  padding: 20px;
}

.navbar__container > .navbar__item:hover::after {
  content: '';
  position: absolute;
  top: 50px;
  left: 0;
  border-bottom: 1px solid white;
  width: 100%;
}

.navbar__sub-container {
  display: none;
  position: absolute;
  top: 60px;
  left: calc(50% - 10px);
  width: 180px;
}
.navbar__item:hover > .navbar__sub-container {
  display: unset;
}

.navbar__item--sub {
  margin: 0;
  padding: 20px;
  background-color: black;
}

.navbar__item--sub:hover {
  background-color: rgb(81, 81, 81);
}

.navbar__item--sub:last-child {
  border-radius: 0 0 20px 20px;
}

