body {
    background-color: #f2f2f2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 10px 0;
}

header ul {
    display: flex;
}

header label {
    display: none;
}

header input {
    display: none;
}

.logo {
    padding: 20px;
}

.menu__item {
    padding: 10px 65px;
}


.menu__dropdown {
    position: relative;
}

.menu__dropdown:hover > .dropdown {
    display: block;
}

.dropdown {
    position: absolute;
    background-color: #f2f2f2;
    top: 103%;
    left: 0;
    min-width: 240px;
    display: none;
}

.dropdown__item {
    padding: 10px;
    border-bottom: 1px solid transparent;
}

.dropdown__item:hover {
    border-bottom: 1px solid black;
    background-color: #dddfe3;
}


.menu__dropdown--arrow::after {
    content: "\25B8";
    position: absolute;
    right: 10px;
    top: 10px;
    color: #000;
    transform: rotate(90deg);
}

.menu__dropdown--arrow2::after {
    content: "\25B8";
    position: absolute;
    right: 10px;
    top: 10px;
    transform: rotate(90deg);
}


.dropdown__2 {
    position: absolute;
    background-color: #f2f2f2;
    top: 102%;
    right: calc(100% - 0);
    width: 100%;
    display: none;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

.dropdown__link_2:hover > .dropdown__2 {
    display: block;
}

.dropdown__link_2 {
    position: relative;
}

.img__container {
    background-image: url("../assets/desktop.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 98px);
}