.menu-icon, [id^=menu-btn]
{
    display: none;
}

nav ul
{
    float: right;
    padding: 0;
    margin: 0;
}

nav ul li
{
    margin: 0;
    float: left;
    display: flex;
    align-items: center;
}

nav ul ul 
{
    display: none;
    position: absolute;
    top: 60px;
}

nav ul ul li
{
    float: none;
    display: list-item;
}

nav a
{
    line-height: 60px;
}
