body {
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

nav a {
    color: #000;
    text-decoration: none;
}

.menu__item {
    border-bottom: 1px solid transparent;
}


.logo {
    font-size: 1.75rem;
    padding: 20px 10px 0 10px;
    color: rgb(65, 65, 65);
}


/* img {
    max-width: 100%;
    object-fit: fill;
} */