.menu__input {
	display: none;
}
.menu__label {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 30px;
	right: 30px;
	width: 5rem;
	padding: 1rem;
	border: 1px solid black;
	border-radius: 10%;
}
.menu {
	display: block;
    position: absolute;
    top: 10vh;
	width: 100%;
	height: 100vh;
}
.menu__list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 3rem;
}
#menu-btn:checked ~ .menu {
	display: none;
}
.menu__item {
	display: block;
    padding: 2rem 0;
}
.menu__item--link {
	color: black;
	font-size: 1.5rem;
	transition: color 0.5s;
}
.menu__item--link:hover {
	color: rgb(211, 71, 71);
}
.menu__list-two {
	display: none;
    padding: 2rem;   
}
.menu__item:hover .menu__list-two {
	display: block;
}
