body {
    background-color: #f2f2f2;
}

header h1 {
    text-align: center;
}

header li {
    padding: 5px 10px;
    text-align: center;
}

header ul {
    display: none;
}

header input:checked + ul {
    display: block;
}

header.green--header{
    position: relative;
}

header label {
    position: absolute;
    right: 10px;
    top: 10px;
}

header input {
    display: none;
}

nav {
    margin-top: 20px;
}

.menu__item {
    margin-bottom: 15px;
    padding: 20px;
}

.menu__dropdown {
    position: relative;
}

.menu__dropdown:hover > .dropdown {
    display: block;
}

.dropdown {
    position: static;
    background-color: #f2f2f2;
    top: 102%;
    right: calc(100% - 0);
    width: 100%;
    display: none;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.dropdown__2 {
    position: static;
    background-color: #f2f2f2;
    top: 102%;
    right: calc(100% - 0);
    width: 100%;
    display: none;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

.dropdown__link_2:hover > .dropdown__2 {
    display: block;
}

.dropdown__link_2 {
    position: relative;
}

.dropdown__item {
    padding: 10px;
    border-bottom: 1px solid transparent;
}

.dropdown__item:hover {
    border-bottom: 1px solid black;
    background-color: #dddfe3;
}


label::before {
    font-family: "Font Awesome 5 Free"; 
    content: "\f0c9";
    font-weight: 600;
}

.menu__dropdown--arrow::after {
    content: "\25B8";
    position: absolute;
    right: 10px;
    top: 20px;
    transform: rotate(90deg);
}

.menu__dropdown--arrow2::after {
    content: "\25B8";
    position: absolute;
    right: 30px;
    top: 10px;
    transform: rotate(90deg);
}

.img__container {
    background-image: url("../assets/mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: calc(100vh - 98px);
}