@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');


body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

h2, p {
    margin: 40px 60px;
    line-height: 1.5;
    font-weight: 100;

}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.nav__main {
    position: relative;
}

.nav__menu {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    line-height: 2;
    text-transform: uppercase;
    position: absolute;
    transition: left 0.2s;
    box-shadow: 7px 6px 24px -10px rgb(121, 126, 165);
    visibility: hidden;
}

.nav__main input[type="checkbox"] {
    display: none;
}

.nav__main input+label {
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
    transition: transform 0.3s, 0.3s;
    padding: 15px;
}

.nav__main input:checked~label {
    transform: rotate(90deg);
}

#menu-icon:checked~.nav__menu {
    visibility: visible;
}

.nav__submenu-item {
    font-size: 14px;
}

.nav__submenu {
    padding-left: 10px;
    margin-left: 10px;
}

.nav__menu-item,
.nav__menu-item a,
.nav__menu-item a:visited,
.nav__submenu-item,
.nav__submenu-item a,
.nav__submenu-item a:visited {
    list-style: none;
    text-decoration: none;
    color: black;
    transition: text-decoration 0.2s;
}

.nav__main a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 576px) {

    .nav__main {
        font-size: 20px;
    }

    .nav__submenu-item {
        font-size: 18px;
    }

}

@media screen and (min-width: 992px) {

    .nav__menu {
        left: 0;
        top: 0;
        width: 100%;
        line-height: 2;
        text-transform: uppercase;
        box-shadow: none;
        visibility: visible;
    }

    .nav__menu-items {
        display: flex;
        justify-content: flex-start;
    }

    .nav__menu-item {
        padding: 0 20px;
    }

    .nav__submenu {
        position: absolute;
        left: 0;
        padding-left: 0;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        width: 400px;
        visibility: hidden;
        box-shadow: 7px 6px 24px -10px rgb(121, 126, 165);

    }

    .nav__submenu-item {
        background-color: #fff;
        font-size: 16px;
        padding-top: 10px;
        padding-left: 20px;
    }

    .dropdown {
        position: relative;
    }

    .dropdown:hover .nav__submenu {
        visibility: visible;
    }

    .nav__submenu {
        position: absolute;
    }

    .nav__main label>i,
    .nav__main label {
        visibility: hidden;
    }

}