* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;
}

nav {
    padding-top: 30px;
}

.logo__desktop {
    display: none;
}


.hamburger {
    width: 40px;
    height: 35px;
    margin-top: 10px;
    margin-left: 10px;
    border: 0;
    border-top: 5px solid orange;
    background: transparent;
    position: relative;
    transition: 0.3s transform linear;
}

.hamburger::before, .hamburger::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    border-top: 5px solid orange;
}

.hamburger::before {
    transform: translateY(10px);
}

.hamburger::after {
    transform: translateY(25px);
    
}

.hamburger:focus {
    transform: rotate(45deg) translateY(5px);
    border: none;
    outline: none;
}

.hamburger:focus::after {
    transform: rotate(-90deg) translateX(-10px);
}

h1 {
    text-align: center;
    padding-top: 15px;
}

header li {
    
    margin: 5px;
    padding: 5px 10px;
    text-align: center;
}

header ul {
    display: none;
}

header input:checked + ul {
    display: block;
}

header {
    position: relative;
    background-color: rgb(214, 206, 206);
}

header label {
    position: absolute;
    right: 10px;
    top: 10px;
}

header input {
    display: none;
}

.second__menu:focus + ul {
    display: block;
}

.list a {
    text-decoration: none;
    color: rgb(34, 33, 33);
}

.second__level {
    list-style: none;
}