* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: arial;
}
body {
    width: 100%;
}
nav {
    /* border: 2px solid black; */
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.menu__element, .sub-menu__element {
    padding: 7%;   
    list-style: none;
    width: 50vw;
    margin-left: -50vw;
    
}
.menu__element {
    transition: .3s;
    position: relative;
    background-color: cyan;
}
.menu__element:hover:nth-child(2) .sub-menu {
    display: block;
    position: absolute;
    left: 50vw;
    top: 5vw;
    background-color: darkgray;
}
.sub-menu {
    position: absolute;
    left: 50vw;
    top: 5vw;
    background-color: darkcyan;
    display: none;
} 

a {
    display: inline-block;
    width: 100%;
    height: 100%;
}



.hamburger {
    width: 40px;
    height: 35px;
    border: 0;
    border-top: 5px solid red;
    background: transparent;
    position: relative;
    top: 1vh;
    left: 5vw;
    cursor: pointer;
    z-index: 2;
}
.hamburger::before, .hamburger::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 5px solid red;
    transform: translateY(10px);
}
.hamburger::after {
    transform: translateY(25px);
}
.hamburger:focus + nav > ul li{
    margin-left: 0;
}
