@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    position: sticky;
    top: 0px;
    background-color: #f38dc5;
    width: 100%;
    z-index: 1000;
}

section{
    position: relative;
    height: calc(100vh - 3rem);
    width: 100%;
    background: url('bg.jpg') no-repeat top center / cover;
    overflow: hidden;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(63, 134, 226, 0.5);
}

.container{
    max-width: 65rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.logo-container{
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-btn{
    flex: 3;
    display: flex;
}

.nav-links{
    flex: 2;
}

.log-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.logo {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3rem;
}

.logo span {
    font-weight: 300;
}

.btn {
    display: inline-block;
    padding: .5rem 1.3rem;
    font-size: .8rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .2rem 0;
    transition: .3s;
    text-transform: uppercase;
}

.btn.solid, .btn.transparent:hover{
    background-color: #fff;
    color: #69bde7;
}

.btn.transparent, .btn.solid:hover{
    background-color: transparent;
    color: #fff;
}

.nav-links > ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    position: relative;
}

.nav-link > a {
    line-height: 3rem;
    color: #fff;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

.nav-link > a > i {
    margin-left: .2rem;
}

.nav-link:hover > a {
    transform: scale(1.1);
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    opacity: 0;
    transition: .5s;
}

.dropdown-link > a{
    display: flex;
    background-color: #fff;
    color:#f38dc5;
    padding: .5rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.dropdown-link:hover > a {
    background-color: #f5cee3;
    color: #fff;
}

.dropdown-link {
    border-bottom: 1px solid #cea6bd;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown {
    transform: translate(0, 0);
    opacity: 1;
}

.hamburger-menu-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger-menu div {
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div::before,
.hamburger-menu div::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-radius: 3px;
}

.hamburger-menu div::before {
    transform: translateY(-7px);
}

.hamburger-menu div::after {
    transform: translateY(7px);
}

#check {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .hamburger-menu-container
.hamburger-menu div {
    background-color: transparent;
}

#check:checked ~ .hamburger-menu-container
.hamburger-menu div::before {
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container
.hamburger-menu div::after {
transform: translateY(0) rotate(45deg);
}

@media (max-width: 920px) {
    .hamburger-menu-container{
        display: flex;
    }

    #check{
        display: block;
    }

    .nav-btn {
        position: fixed;
        height: calc(100vh - 3rem);
        top: 3rem;
        left: 0;
        width: 100%;
        background-color: rgb(233, 160, 205);
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .nav-links {
        flex: 0 auto;
    }

    .log-sign {
        flex: 0 auto;
    }
}