* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

#hamburger {
    display: none;
}

nav {
    background-color: lightgray;
    width: fit-content;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
    padding: 15px;
    position: relative;
    border-top: 2px solid transparent;
}

nav li:hover {
    border-top: 2px solid; color: pink;
}

li:hover > ul {
    display: block;
}

.navbar_second {
    display: none;
    position: absolute;
    left: 0;
    padding-top: 15px;
}

.second_item {
    color: white;
    background-color: rgb(51, 51, 51);
    text-align: left;
    margin: 0;
    position: relative;
}

.hamburger {
    width: 40px;
    height: 35px;
    border: 0;
    border-top: 5px solid white;
    background: transparent;
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
    display: none;
}

.hamburger::before, .hamburger::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 5px solid white;
    transform: translateY(10px);
}

.hamburger::after {
    transform: translateY(25px);
}

@media (max-width: 700px) {
    nav {
        background-color: lightgray;
        padding-left: 15px;
        padding-top: 15px;
    }

    .hamburger {
        display: flex;
    }

    button {
        background-color: lightgray;
        padding-left: 15px;
        padding-top: 15px;
        margin-right: 25px;
        padding-bottom: 30px;
    }
    
    button:focus + .navbar {
        display: block;
    }
    
    .navbar {
        display: none;
        width: 100%;
    }

    .first_item {
        padding-left: 0;
        margin-left: 0;
        margin-top: 5px;
    }

    .navbar_second {
        width: 170%;
        margin-left: 100%;
        margin-top: -60%;
    }
}