/* mobile */

.header {
    height: 100vh;
}

.header-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    position: relative;
}

.header-nav__menu {
   text-align: left;
   position: absolute;
   top: 90%;
}

.header-nav__menu-li {
    padding: 1rem 0 1rem 0;
}

.header-nav__menu-dropdown {
   padding: 1rem 0 0 0;
}

.header-nav__menu-dropdown-li {
    padding: 1rem 0 1rem 0;
}

.header-nav__menu-dropdown-li:nth-child(2) {
    padding-bottom: 0;
}

.header-nav__menu-dropdown-li > .header-nav__menu-dropdown-li-a {
    padding-left: 2rem;
    font-size: 1.5rem;
}

.header-nav__menu {
    display: none;
}

#menu-switcher:focus + .header-nav__menu, .header-nav__menu-dropdown  {
    display: block;
}

#menu-switcher {
    width: 40px;
    height: 35px;
    border: 0;
    border-top: 5px solid var(--color-gamma);
    background: transparent;
    position: relative;
    transition: 0.3s transform linear;
    right: 35%;
}
  
#menu-switcher::before, #menu-switcher::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 5px solid var(--color-gamma);
    transform: translateY(10px);
}
  
#menu-switcher::after {
    transform: translateY(25px);
    transition: 0.3s transform linear;
}
  
#menu-switcher:focus {
    transform: rotate(45deg) translateY(5px);
    border: none;
}
  
#menu-switcher:focus::after {
    transform: rotate(-90deg) translateX(-10px);
}

