/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 5px solid green;
}

.link {
    color: black;
    text-decoration: none;
}
.main__box, .article__box {
    display: grid;
    
}
.main__article, .article__text {
    background-color: yellow;
}
.header__box, .main__box, .article__box, .footer__box {
    border: 5px solid blue;
 }
/* END OF GLOBAL */

/* HEADER */

.header__box {
    display: flex;
    position: relative;
}
.header__name {
    padding: 20px 2px;
    background-color: yellow;
    align-self: center;
}
.mobile__menu--input {
    display: none;
}


/* END OF HEADER */

/* MAIN */

/* END OF MAIN */

/* ARTICLE */

/* END OF ARTICLE */

/* FOOTER */

.footer__box {
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer__text {
    margin: 5px 0;
    background-color: yellow;
    min-width: 150px;
    min-height: 50px;
    
}

/* END OF FOOTER */

