* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px minmax(calc(50vh - 40px), auto) minmax(calc(50vh - 50px), auto) 1fr;
    grid-template-areas:
        "nav"
        "main"
        "aside"
        "footer";
}



.nav {
    grid-area: nav;
}

.main {
    grid-area: main;
}

.aside {
    grid-area: aside;
}

.footer {
    grid-area: footer;
}

.container {
    width: 100%;
}

/* NAV */

nav {
    position: relative;
    background-color: var(--main);
    height: 100%;
}

nav ul {
    display: none;
}

header input:checked+ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header input {
    display: none;
}

nav label {
    position: absolute;
    left: 88%;
    top: 10px;
}

.nav__hamburger {
    display: block;
    width: 30px;
    height: 25px;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
}

.nav__hamburger::after {
    display: block;
    content: '';
    height: 3px;
    background-color: #000;
    position: relative;
    top: 8px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: none;
}

/* END OF NAV */


/* MENU */
.menu {
    width: 40%;
    height: 90%;
}

/* END OF MENU */

/* MAIN */

.main {
    display: flex;
    justify-content: stretch;
}

.main__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item1 {
    height: calc(40% - 5px);
}

.item2 {
    height: calc(60% - 5px);
}

/* END OF MAIN */

/* ASIDE */

.aside {
    display: flex;
    justify-content: stretch;
}

.aside__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside__item {
    height: calc(30% - 5px);
}

/* END OF ASIDE */

/* FOOTER */

.footer__container {
    display: flex;
    justify-content: center;
    height: 100%;
}

.footer__content {
    min-width: 100px;
}

/* END OF FOOTER */