@media (max-width: 800px) {
    .header,
    .section__first-items,
    .section__second-items,
    .footer {
        max-height: 100vh;
    }
    li {
        border: 1px solid #bbb;
        margin: 5px;
        padding: 5px 10px;
        text-align: center;
    }
}
