/* mobile */

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.header__logo {
    min-width: 150px;
    margin: 5px 5px 5px 80px;
}
.header__nav {
   display: none;
}
.content__cell1, .content__cell2 {
    height: 20vh;
}
.content__cell2 {
    margin-top: 10px;
}
.article__cell1, .article__cell2, .article__cell3 {
    height: 10vh;
}
.article__cell2, .article__cell3 {
    margin-top: 10px;
}
.footer__cell {
    width: 150px;
    margin: 5px 5px 5px 80px;
}


/* hamburger*/
.hamburger {
    width: 40px;
    height: 35px;
    margin: 10px;
    border: 0;
    right: 0;
    top: 10px;
    border-top: 5px solid red;
    background: transparent;
    position: absolute;
    transition: 0.3s transform linear;
    cursor: pointer;
}
.hamburger::before, .hamburger::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 5px solid red;
    transform: translateY(10px);
}
.hamburger::after {
    transform: translateY(25px);
    transition: 0.3s transform linear;
}
.hamburger:focus {
    transform: rotate(45deg) translateY(5px);
    border: none;
}
.hamburger:focus::after {
    transform: rotate(-90deg) translateX(-10px);
}

.hamburger:focus + nav {
    display: block;
}