* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: sans-serif;
}


.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    min-height: 50px;
    background: royalblue
}

header img {
    grid-column: 2/3;
    grid-row: 1/2;
}

header .burger {
    position: relative;
    grid-column: 3/4;
    grid-row: 1/2;
    background: black;
    width: 50px;
    height: 6px;
    border: none;
    margin-right: 10px;
    justify-self: flex-end;
}

header .burger::after,
header .burger::before {
    position: absolute;
    content: '';
    left: 0;
    width: 50px;
    height: 6px;
    background: black;
}

header .burger::after {
    top: -15px;
}

header .burger::before {
    top: 15px;
}

header nav {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #6689f1;
    top: 50px;
    width: 100vw;
    height: 100vh;
    right: -100%;
    transition: right .3s;
}

nav li {
    list-style: none;
    margin: 30px 0;
}

nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.burger:focus~nav {
    display: flex;
    right: 0;
}

.section-one {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.section-one article {
    grid-column: 1/1;
    grid-row: 1/2;
}

.section-one aside {
    grid-column: 1/1;
    grid-row: 2/4;
    align-self: center;
}

.section-two ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    list-style: none;
}

.section-two ul li {
    align-self: center;
    background: limegreen
}

.section-two ul li:nth-of-type(1) {
    grid-column: 1/1;
    grid-row: 1/2;
}

.section-two ul li:nth-of-type(2) {
    grid-column: 1/1;
    grid-row: 2/4;
}

.section-two ul li:nth-of-type(3) {
    grid-column: 1/1;
    grid-row: 4/5;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: black;
    min-height: 50px;
}

@media (min-width: 800px) {

    header {
        grid-template-columns: repeat(12, 1fr);
    }

    header img {
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: center;
    }

    header .burger {
        display: none;
    }

    header nav {
        display: block;
        position: static;
        grid-column: 10/-1;
        grid-row: 1/2;
        top: 0;
        right: 0;
        background: none;
        height: 100%;
        width: unset;
    }

    header nav ul {
        display: flex;
        justify-content: space-around;
    }

    .section-one {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        padding: 20px 0;
    }

    .section-one article {
        grid-column: 1/2;
        grid-row: 1/1;
    }

    .section-one aside {
        grid-column: 2/3;
        grid-row: 1/1;
    }

    .section-two ul {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }

    .section-two ul li {
        padding: 30px;
    }

    .section-two ul li:nth-of-type(1) {
        grid-column: 1/2;
        grid-row: 1/1;
    }

    .section-two ul li:nth-of-type(2) {
        grid-column: 2/3;
        grid-row: 1/1;
    }

    .section-two ul li:nth-of-type(3) {
        grid-column: 3/4;
        grid-row: 1/1;
    }
}