button {
  display: none;
}

.top-bar {
  display: flex;
  justify-content: center;
}
.top-bar__nav {
  width: 100rem;
  height: 10vh;
  display: flex;
  justify-content: space-between;
}
.top-bar__content {
  margin-left: 0;
  width: 20rem;
  background-color: var(--delta-color);
}
.top-bar__menu {
  background-color: var(--delta-color);
  width: 30rem;

  /* dlaczego nie widzi tego kodu i nie dodaje elementu do strony? nie mam pojecia co jest nie tak*/
}
.content {
  display: flex;
  justify-content: center;
}
.content__one,
.content__two {
  width: 100rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content-yellow-box {
  width: 48%;
}
.content__two-yellow-box {
  width: 48%;
}
.footer {
  display: flex;
  justify-content: center;
}
.footer__one {
  width: 100rem;
}
