@media (min-width: 800px) and (max-width: 2000px){
body{
    max-width: 2000px;
    height: 100vh;
    display: grid;
}

.all{
    align-items: center;
    height: 100vh;
    margin-top: 20px;
}

.section__first, .section__second{
    display: grid;
    width: 100%;
    height: 30vh;
    border: solid;
    border-color: green;
    text-align: center;
    margin-top: 5px;
      
}

.section__first{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.section__second{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.header{
    display: grid;
    height: 100px;
    width: 100%;
    border: solid;
    border-color: green;
     
}

.header__row{
    display:grid;
    grid-template-columns: 1fr 1fr;
    border: solid;
    border-color: rgb(31, 19, 207);
    width: 90vw;
    height: 70px;
    justify-self: center;
    align-self: center;
}

.header__element{
    align-self: center;
    background-color: rgb(236, 197, 69);
    width: 200px;
    height: 80%;
    top: 3px;
    
}
 
label{
    background-color: rgb(236, 197, 69);
    width: 400px;
    height: 80%;
    justify-self: end;
    align-self: center;
    border-color: transparent;
}

.section__first--row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border: solid;
    border-color: rgb(31, 19, 207);
    width: 90vw;
    height: 190px;
    align-self: center;
    justify-self: center;
    top: 3px;
}

.section__second--row{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border: solid;
    border-color: rgb(31, 19, 207);
    width: 90vw;
    height: 190px;
    align-self: center;
    justify-self: center;
}

.cell__one{
    
    background-color: rgb(236, 197, 69);
    width: 98%;
    height: 95%;
    position: relative;
    top: 5px; 
}
.cell__one--right{
    background-color: rgb(236, 197, 69);
    width: 98%;
    height: 95%;
    position: relative;
    top: 5px; 
    justify-self: end;
}


.cell__two--first, .cell__two, .cell__two--third{
    display: grid; 
    height: 160px;
    background-color: rgb(236, 197, 69); 
    justify-self: stretch;
    margin: 10px;
}

.section__second{
    display: grid;
    align-items: center;
    justify-content: center;
}
.footer__row{
    display: flex;
    width: 100%;
    height: 100px;
    border: solid;
    border-color: rgb(0, 128, 0);
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.footer__container{
    display: flex;
    width: 210px;
    height: 30px;
    background-color:rgb(236, 197, 69); 
    justify-content: center;
    
}
}














