.container {
    margin: 0 auto;
    width: 100%;
}

.header-container {
    display: flex;
}

.main-nav label {
    top: 7px;
    right: 5px;
}

.logo-img {
    display: block;
}

.logo {
    /*margin-left: calc(50% - 30px);
    margin-right: calc(50% + 30px);*/
    margin: 0 auto;
    padding-left: 30px;
}

.main-nav__list,
#menu-switcher {
    display: none;
}

.main-nav__list {
    margin-top: 10px;
}

#menu-switcher:checked+.main-nav__list {
    display: block;
}

.main-nav label {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: 0 auto;
    position: relative;
    border: 0;
    border-top: 2px solid black;
    transition: 0.2s transform linear;
}

.main-nav label:before,
.main-nav label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid black;
    transform: translateY(5px);
}

.main-nav label:after {
    transform: translateY(12px);
    transition: 0.2s transform linear;
    margin-bottom: 20px;
}

.main-nav label:hover {
    transform: rotate(45deg) translateY(10px);
    border: none;
}

.main-nav label:hover::after {
    transform: rotate(-90deg) translateX(-5px);
}

@media (min-width: 800px) {

    .container {
        width: 1000px;
        padding: 10px 0;
    }

    .main-nav__list {
        display: flex;
        justify-content: space-between;
        margin-top: 0;
    }

    .main-nav__item {
        padding-left: 20px;
    }

    .main-nav label {
        display: none;
    }

    .logo {
        margin: 0;
        padding: 0;
    }

    .header-container {
        justify-content: space-between;
        align-items: center;
    }
}

.content-container {
    padding: 10px;
    border: 1px solid green;
}

.text--first {
    padding-bottom: 20px;
}

@media (min-width: 800px) {

    .content-container {
        display: flex;
        padding: 30px 0;
    }

    .text--first {
        padding-bottom: 0;
    }

    .text--second {
        text-align: right;
    }
}

.box-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
    border: 1px solid red;
}

.box-container__item {
    width: 100%;
    height: 100px;
    background-color: coral;
    border: 1px solid black;
}

.box-container__item:nth-child(2) {
    margin: 10px 0;
}

@media (min-width: 800px) {
    .box-container {
        flex-direction: row;
    }

    .box-container__item:nth-child(2) {
        margin: 0 10px;
    }
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    padding: 10px 0;
}

.footer-item {
    height: 30px;
    width: 200px;
    border: 1px solid purple;
}