* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
}
.wrapper {
  max-width: 1000px;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style-type: none;
}
ul li {
  margin: 2%;
  padding: 10px;
}
header {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.logo {
  font-size: 2rem;
}
footer{
    display: flex;
    justify-content: center;
}
@media (max-width: 800px) {
  header{
    padding: 10px;
  }
  .logo{
    position: absolute;
    top: 10px;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .logo{
    margin-left: 30%;
  }
  .hamburger {
    align-self: flex-end;
    display: block;
    width: 40px;
    height: 35px;
    border: 0;
    border-top: 5px solid #000;
    background: transparent;
    position: relative;
    transition: 0.3s transform linear;
  }
  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 5px solid #000;
    transform: translateY(10px);
  }
  .hamburger::after {
    transform: translateY(25px);
    transition: 0.3s transform linear;
  }
  .hamburger:focus {
    transform: rotate(45deg) translateY(5px);
    border: none;
  }
  .hamburger:focus::after {
    transform: rotate(-90deg) translateX(-10px);
  }
  .main__menu {
    display: none;
  }
  .hamburger:focus + .main__menu {
    display: block;
  }
  #hero div,
  #about div{
      margin: 2%;
      pad: 2%;
  }
}
@media (min-width: 801px){
    .hamburger{
        display: none;
    }
    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
    }
    .navigation ul{
        display: flex;
    }
    #hero{
        display: flex;
    }
    #hero > div{
        flex-basis: 50%;
    }
    #about{
        margin-top: 5%; 
        display: flex;
    }
}
