* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p, .t, .v {
    border: 3px solid transparent;
    min-height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
    border-color: #ffffba
}

.t {
    border-color: #ffdfba;
}

.v {
    border-color: #baffc9;
}

@media screen and (max-width: 599px) {
    body {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "p"
        "t"
        "v";
    }

    main {
        grid-area: t;
    }

    header {
        grid-area: p;
    }

    side {
        grid-area: v;
    }
}

@media screen, (min-width: 600px) and (max-width: 1199px) {
    body {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "p t"
        "v t";
        grid-template-columns: minmax(200px, 50vh);
    }

    main {
        grid-area: t;
    }

    header {
        grid-area: p;
    }

    side {
        grid-area: v;
    }
}

@media screen and (min-width: 1200px) {
    body {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "p v"
        "t t";
    }

    main {
        grid-area: t;
    }

    header {
        grid-area: p;
    }

    side {
        grid-area: v;
    }
}


