* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p, .t, .v {
    border: 3px solid transparent;
    min-height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
    border-color: #ffffba;
    grid-row-start: 1;
}

.t {
    border-color: #ffdfba;
    grid-row-start: 2;
}

.v {
    border-color: #baffc9;
}

body {
    display: grid;
    grid-template-rows: auto auto auto;
}

.p picture,
.p img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.v iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
    border: none;
}


@media (max-width: 599px) {
 body {
    display: grid;
    grid-template-rows: auto auto auto;
    margin: 0 auto;
 }

 .p {
    grid-row: 1;
 }

 .t {
    grid-row: 2;
 }

 .v {
    grid-row: 3;
 }
 p {
    text-align: center;
    padding: 2rem;
    margin: 1rem;
}
}


@media (min-width: 600px) and (max-width: 1199px) {
    body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50vh 50vh;
        margin: 0 auto;
    }

    .p {
        grid-column: 1;
        grid-row: 1;
    }

    .v {
        grid-column: 1;
        grid-row: 2;
    }

    .t {
        grid-column: 2;
        grid-row: 1 / 3;
    }

    p {
        text-align: center;
        padding: 2rem;
        margin: 1rem;
    }
}

@media (min-width: 1200px) {
    body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50vh 50vh;
        margin: 0 auto;
        max-width: 1400px;
    }

    .p{
        grid-column: 1;
        grid-row: 1;
    }

    .v {
        grid-column: 2;
        grid-row: 1;
    }

    .t {
        grid-column: 1 / 3;
        grid-row: 2;
    }

    p {
        text-align: center;
        padding: 2rem;
        margin: 1rem;
    }
}