* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
}


.p, .t, .v {
    border: 3px solid transparent;
    display: grid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
    border-color: red;
}

.t {
    border-color: green;
}

.v {
    border-color: blue;
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: calc(315 / 560 * 100%);

}
/*after changes from .p img width auto and max-height to: width 100%
everything is working ;-) */
img {
    width: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
}