* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
}

.p, .t, .v {
    border: 3px solid transparent;
    min-height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
    border-color: #ffffba;
    grid-area: area-p;
    line-height: 0;
}

.t {
    border-color: #ffdfba;
    grid-area: area-t;
}

.v {
    border-color: #baffc9;
    grid-area: area-v;
    position: relative;
    height: 0;
    padding-bottom: calc(100% * 157 / 280);
}

.v iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}