* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.p,
.t,
.v {
	border: 10px solid transparent;
	min-height: 50px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.p {
	border-color: #ffffba;
}

.p img {
	display: block;
	max-width: 100%;
}

.t {
	border-color: #ffdfba;
	text-align: justify;
	padding: 10px;
}

.v {
	border-color: #baffc9;
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
