* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p, .t, .v {
    border: 3px solid transparent;
    min-height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
    border-color: #ffffba;
    grid-area: area-p;
    line-height: 0;
}

.t {
    border-color: #ffdfba;
    grid-area: area-t;
}

.v {
    border-color: #baffc9;
    grid-area: area-v;
    position: relative;
    height: 0;
    padding-bottom: calc(100% * 315 /560) ;
}

img{
    max-width: 100%;
}

.v iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

/* mobile */

body{
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "area-p"
    "area-t"
    "area-v";

}


/* tablet*/
@media screen and (min-width: 600px){

    body{
        display: grid;
        grid-template-areas:
        "area-p area-t"
        "area-v area-t";

        grid-template-columns: minmax(200px, 50vw) auto;

    }


}

/*desktop*/
@media screen and (min-width: 1200px){

    body{
        display: grid;
        grid-template-areas:
        "area-p area-v"
        "area-t area-t";



    }


}

