* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.p,
.t,
.v {
    border: 3px solid transparent;
    min-height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
    border-color: #ffffba;
    grid-area: area-p;
    line-height: 0;

}

.t {
    border-color: #ffdfba;
    display: inline-block;
    grid-area: area-t;
}

.v {
    border-color: #baffc9;
    position: relative;
    height: 0;
    padding-bottom: calc(100% * 315 / 560);
    grid-area: area-v;
}

.v iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img {
    width: 100%;
}