body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p, .t, .v {
    border: 3px solid transparent;
    min-height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
    border-color: #ffffba
}

.t {
    border-color: #ffdfba;
}

.v {
    border-color: #baffc9;
    height: 0;
    padding-bottom: calc(315 / 560 * 100%);
    position: relative;
    width: 100%;
}
iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
