* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
}

.p, .t, .v {
    border: 3px solid transparent;
    min-height: 50px;

    display: grid;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.p {
    border-color: #ffffba
}

.t {
    border-color: #ffdfba;
}

.v {
    border-color: #baffc9;
}