* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: 
        "p"
        "t"
        "v";
    grid-template-rows: 
        33,3%
        33,3%
        33,3%;
}

.p, .t, .v {
    border: 3px solid transparent;
    min-height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
    border-color: #ffffba;
    grid-area: p;
}

.t {
    border-color: #ffdfba;
    grid-area: t;
}

.v {
    border-color: #baffc9;
    grid-area: v;
}