.grid-container {
    display: grid;
    grid-template-areas: 
    "picture"
    "text"
    "video";
}

header {
    grid-area: picture;

}

main {
    grid-area: text;

}

side {
    grid-area: video;
    height: 0;
    padding-bottom: calc(673 / 1010 * 100%);
    position: relative;
    width: 100%;
}

iframe {
    border: 1px solid red;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}
