body {
    background-color: aqua;
    display: grid;
    height: 100vh;
    grid-template-areas:
        "p"
        "v"
        "t";
    grid-template-rows:
    50% 50% 50%;
}

main {
    grid-area: p;
}

header {
    grid-area: v;
}

aside {
    grid-area: t;
}

picture {
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
}