body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.p {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.t {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.v {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: center;
}