body{
  display: grid;
  grid-template-areas: 
  "p-top-left t-right"
  "v-bottom-left t-right";
  grid-template-columns: 
  50vh
  50vh;
}
.p {
  grid-area: p-top-left;
  min-height: 200px;
}
.t {
  grid-area: t-right;
}
.v{
  grid-area: v-bottom-left;
  min-height: 200px;
}

