body {
    max-width: 1199px;
    display: grid;
    grid-template-areas:
        "a-top a-mid"
        "a-bottom a-mid";
    grid-template-rows: 
        50vh
        50vh;
    grid-template-columns: 
        minmax(200px, 50%)
        minmax(200px, 50%);
}