/*this is desktop.css but remember mobile first ! ;-) */
.nav__list {
	display: flex;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
	justify-content: space-around;
}

.hamburger,
input {
	display: none;
}

.dropdown {
	position: absolute;	
	left: 20px;
	display: none;
}

.nav__item--drop:hover .dropdown {
	display: block;
}

.nav__item--drop {
	position: relative;
	text-align: center;
}

