.nav__list {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
}

.hamburger,
input {
	display: none;
}

.dropdown {
	display: none;
}

.nav__item--drop:hover .dropdown {
	display: block;
}

.nav__item--drop {
	position: relative;
	text-align: center;
}

.dropdown {
	position: absolute;
	transform: translateX(-50%);
	left: 24px;
}