/* content.css */

.content__container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.module--1 .content__container{
    /* box-sizing: border-box; Przeniosłem do base.css */
    padding: 0px;
}

/* Czy tuaj moglibyśmy zastosować podstawienie za "Moduł x" funkcję? Jak to będzie wyglądało w js? */

.module--1 .content__article.cell {
    min-height: 300px;
    width: 100%;
    margin: 0px;
}


.module--2 .content__article.cell {
    min-height: 300px;
    width: 100%;
    margin: 0px;
}

.module--2 .content__container{
    padding: 0px;
}