.section1__row {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.section1__cell {
  width: 100%;
}
.section1__cell:first-child {
  height: 130px;
}
.section1__cell:last-child {
  height: 180px;
}
@media (min-width: 800px) {
  .section1__row {
    flex-direction: row;
  }
  .section1__row .section1__cell {
    height: 180px;
    margin: 5px 0px 5px 0px;
  }
}
/* SECTION 2 */
.section2__row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section2__cell {
  width: 100%;
  height: 90px;
}
@media (min-width: 800px) {
  .section2__row {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .section2__cell {
    width: 30%;
  }
}
