.header__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    ". menu hamburger";
}
.header__logo{
    display: none;
}

.hamburger{
    grid-area: hamburger;
    justify-self: end;
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    position: relative;
}
.hamburger::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 5px dotted red;
    transform: translateY(10px);
}

.nav{
    grid-area: menu;
}
.nav__menu{
    display: none;
}
.hamburger:focus:before {
    border-color: grey;
    transform: rotate(90deg) translateX(25px);
}

.hamburger:focus + .nav .nav__menu{
    display: flex;
    flex-direction: column;
}
.main{
    display: grid;
    grid-template-columns: 1fr;
}
 .content__container-between,
 .content__container-around{
    display: grid;
    grid-template-rows: 1fr 10px 1fr;

}

.main__section-two .content__container-around{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8px 1fr 8px 1fr;
}

.a{
   
    grid-row: 1/2
}
.b{
    
    grid-row: 3/4;
}
.c{
   
    grid-row: 5/6;
}