.header__container {
    padding: 10px;
    position: relative;
}

.header__logo {
    margin: 0 auto;
    width: 300px;
}

.header__nav {
	background-color: transparent;
    display: block;
    position: absolute;
    right: 10px;
    top: 20px;
}

.header__nav::after {
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    content: '';
    display: block;
    height: 20px;
    width: 30px;
}

.header__nav::before {
    background-color: black;
    content: '';
    display: block;
    height: 5px;
    position: relative;
    top: 12px;
    width: 35px;
}

.main__article,.main__ads {
    min-height: 300px;
}

.main__ads {
    margin-top: 10px;
}

.section__container > article {
    min-height: 200px;
}

.section__article--middle {
    margin: 10px 0;
}

.footer__copyrights {
    margin: 0 auto;
    max-width: 100%;
    width: 200px;
}