@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-areas:
        "a-nav"
        "a-main"
        "a-aside"
        "a-footer";
    font-family: 'Roboto', sans-serif;
    grid-template-rows: auto;
    min-height: 100vh;
}

.nav {
    color: #171814;
    grid-area: a-nav;
    position: relative;
}

.main {
    grid-area: a-main;
}

.aside {
    grid-area: a-aside;
}

.footer {
    grid-area: a-footer;
}

.nav__main {
    position: relative;
    text-align: right;
}

.nav__logo {
    font-size: 30px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.nav__main input[type="checkbox"] {
    display: none;
}

.nav__main input+label {
    display: inline-block;
    font-size: 40px;
    padding: 0 30px;
    transition: transform 0.3s, 0.3s;
}

.nav__main input:checked~label {
    transform: rotate(90deg);
}

.nav__menu {
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.75);
    clip-path: inset(0px 0 -15px 0px);
    position: absolute;
    visibility: hidden;
    width: 100%;
}

#menu-icon:checked~.nav__menu {
    visibility: visible;
}

.nav__menu-items {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.nav__menu-item {
    list-style: none;
    padding: 12px 0;
    text-transform: uppercase;
}

.nav__menu-item:hover {
    color: #4D5042;
}

.main__container,
.aside__container {
    display: flex;
    flex-direction: column;
    font-weight: 100;
}

.main__article,
.aside__article {
    font-size: 18px;
    padding: 30px 10px;
}

.main__article {
    background-color: #b7b7a4;
}

.aside__article {
    background-color: #ffe8d6;
}

.main__article:first-of-type {
    border-radius: 8% 8% 0 0;
}

.aside__article:last-of-type {
    border-radius: 0 0 8% 8%;
}

.footer__container {
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 15px 0;
}


@media screen and (min-width:800px) {

    body {
        grid-template-rows:
            min-content auto auto min-content;
        margin: 0 auto;
        max-width: 1000px;
    }

    .nav__main {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .nav__logo {
        left: 0;
        padding-left: 40px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }

    .nav__menu {
        box-shadow: none;
        clip-path: none;
        display: flex;
        justify-content: flex-end;
        position: static;
        visibility: visible;
    }

    .nav__menu-items {
        align-items: center;
        flex-direction: row;
        font-size: 20px;
        justify-content: center;
    }

    .nav__menu-item {
        padding: 0 10px;
    }

    .nav__main label i,
    .nav__main label {
        display: none;
    }

    .main__container,
    .aside__container {
        align-items: center;
        flex-direction: row;
        height: 100%;
        justify-content: space-evenly;
    }

    .main__article,
    .aside__article {
        align-self: flex-start;
    }

    .main__article {
        flex-basis: 50%;
    }

    .aside__article {
        flex-basis: 33.33%;
    }

    .footer__container {
        align-items: center;
    }

    .main__article,
    .aside__article {
        font-size: 20px;
        padding: 30px 10px;
    }

    .main__article,
    .main__article:first-of-type {
        background-color: #b7b7a4;
        border-radius: 10% 3% 10% 3%;
        margin: 0 3px;
    }

    .aside__article,
    .aside__article:last-of-type {
        background-color: #ffe8d6;
        border-radius: 3% 10% 3% 10%;
        margin: 0 3px;
    }
}