.content__container {
    align-items: flex-start;
    display: grid;
    justify-content: space-between;
}
.content__article {
    min-height: 150px;
    width: 49%;
    margin-left: 0;
    grid-area: a-boxC1;
}
.content__column {
    min-height: 150px;
    width: 49%;
    margin-right: 0;
    grid-area: a-boxC2;
}
@media (max-width: 800px) {
    .content__container {
        grid-template-areas: 
        "a-boxC1"
        "a-boxC2";
        grid-template-columns: 100%;
    }
    .content__article {
        width: auto;
        margin: 0;
        margin-bottom: 3%;
    }
    .content__column {
        width: auto;
        margin: 0;
    }
}