.logo__container {
    margin: 0;
}

#menu__icon {
    display: none;
}

.menu__container {
    display: initial;
    width: 400px;
    height: 50px;
}

.hero__content-container, .main__content-container  {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    width: 100%;
    margin: 2px;
    padding: 10px 0;
}

.main__content-header, .main__content-text, .main__content-image {
    margin: 10px;
}

.header__container, .hero__content, .main__content, .footer__container {
    margin-bottom: 10px;
}