/** @format */

body {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 10vh 40vh 40vh 10vh;
  grid-template-areas: "header" "main" "section" "footer";
  row-gap: 1%;
  width: 100%;
}
.header {
  grid-area: header;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 20%;
  height: 50%;
}
.header__nav {
  width: 40%;
  height: 50%;
}
.header__hamburger-btn {
  display: none;
}
.main {
  grid-area: main;
}
.main__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__article {
  width: 48%;
  height: 90%;
}
.section {
  grid-area: section;
}
.section__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section__content {
  width: 30%;
  height: 90%;
}
.footer {
  grid-area: footer;
}
.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__logo {
  width: 30%;
  height: 80%;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  height: 90%;
}
