* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    background-color: #fff;
    min-height: 320px;
    min-width: 320px;
    max-width: 600px;
    text-align: justify;
}

.content::before {
    height: 0;
    border: 150px solid #dcdcdc;
    border-right-color: transparent;
    border-bottom-color: transparent;    
    border-bottom-color: transparent;
    shape-outside: polygon(0 0, 0% 100%, 100% 0);  
}

