* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    
    background-color: #fff;
    text-align: justify;
    max-width: 600px;
    float: left;
}
	

.content::before { 
    float:left;
    display: block;
    content: '';
    height: 0;
    border: 150px solid #c2b1b1;
    border-right-color: transparent;
    border-bottom-color: transparent; 
    shape-outside:  polygon( 0 0, 100% 0, 1.3% 99.1% );
    
}

   
























