* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    background-color: #fff;
    min-height: 320px;
    min-width: 320px;
    max-width: 600px;
    text-align: justify;
}

.content::before {
    float: left;
    display: block;
    content: '';
    height: 0;
    border: 150px solid #dcdcdc;
    border-right-color: transparent;
    border-bottom-color: transparent;    
    shape-outside: polygon(0 0, 0 200px, 200px 0);
    /* nie wiem jak przesunąć tekst o aby opływał kształt */
}