* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    background-color: #fff;
    min-height: 320px;
    min-width: 320px;
    max-width: 600px;
    text-align: justify;
}

.content::before {
    background-color: #dcdcdc;
    content: '';
    display: block;
    height: 300px;
    width: 300px;
    float: left;
    clip-path: polygon(100% 0, 0% 100%, 0 0);
    shape-outside: polygon(100% 0, 0 100%, 0 0)
    
}