header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
}

header label {
    display: none;
}

.dropdown-second {
    position: relative;
}

.dropdown-third {
    position: absolute;
    display: none;
    left: -20%;
    padding: 10%;
}

.dropdown-second:hover > .dropdown-third {
    display: block;
}

