ul {
  list-style: none;
  display: flex;
  padding: 20px 0;
  background-color: rgb(241, 234, 223);
}
ul > li {
  padding: 10px 20px;
}
ul > li > a {
  color: rgb(113, 111, 111);
  text-decoration: none;
  border-bottom: 2px solid rgb(113, 111, 111);
}
ul > li > ul {
  display: none;
}
