* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav > ul {
    display: grid;
}

nav ul {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

nav > ul ul {
    display: none;
}