* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
ul {
  background-color: rgb(241, 234, 223);
  display: flex;
  list-style: none;
}
nav > ul {
  padding: 20px 10px;
}
li {
  padding: 10px;
}
.menu-item {
  cursor: pointer;
}
.menu-item a {
  color: rgb(113, 111, 111);
  display: inline-block;
  height: 100%;
  text-decoration: underline;
  text-underline-offset: 5px;
  width: 100%;
}
.menu-item a:hover {
  text-decoration: none;
}
.menu-dropdown li {
  padding-left: 20px;
}
.menu-item:hover > .menu-dropdown {
  display: block;
}
