:root {
    --primary-color: rgb(233, 207, 204, 0.75);
    --secondary-color: rgb(223, 163, 173);
    --menu-speed: 0.75s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    background-color: rgb(233, 207, 204, 0.75);
    ;
}

.nav>.nav__item,
.nav__dropdown>.dropdown__item {
    list-style: none;
}

.menu-wrap .menu>div>div>.nav>.nav__item>a,
.nav__dropdown>.dropdown__item>a {
    color: #fff;
    text-decoration: none;
}