#hamburger {
    width: 30px;
    height: 22.5px;
    position: relative;
    cursor: pointer;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    top: 5px;
    left: 5px;
}

#hamburger span {
    display: block;
    position: absolute;
    height: 4.5px;
    width: 100%;
    background: #000;
    border-radius: 4.5px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#hamburger span:nth-child(1) {
    top: 0px;
}

#hamburger span:nth-child(2) {
    top: 9px;
}

#hamburger span:nth-child(3) {
    top: 19px;
}

#hamburger:hover span:nth-child(1) {
    top: 9px;
    transform: rotate(135deg);
}

#hamburger:hover span:nth-child(2) {
    opacity: 0;
    left: -30px;
}

#hamburger:hover span:nth-child(3) {
    top: 9px;
    transform: rotate(-135deg);
}