nav {
    width: 100%;
}

.menu {
    width: 100%;
    height: 80px;
    background-color: #fff;
}

.menu__list {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;

}

.menu__item {
    position: relative;
    padding: 20px;
}

.menu__item a{
    font-size: 28px;
}

#menu-switcher,
.menu label {
    display: none;
}

/* ===================================== */
/* Dropdown Menu */
/* ===================================== */

.dropdown {
    display: none;
    position: absolute;
    padding: 10px;
    width: 400px;
    top: 70px;
}

.dropdown__item {
    padding: 10px;
    background-color: #fff;
}

.dropdown__item-a {
    font-size: 24px;
    border-top: 1px solid rgb(209, 209, 209);

}

.menu__item:hover > .dropdown {
    display: block;
}

#menu__toggle,
.menu__btn {
    display: none;
}