* {
    background-color: red;
}
.navbar {
}
.hamburger-icon {
    top: 20px;
    left: 10px;
    position: relative;
    width: 30px;
    height: 4px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}
.hamburger-icon::before,
.hamburger-icon::after {
    content: "";
    position: absolute;
    height: 4px;
    left: 0;
    background: white;
    border-radius: 10px;
    transition: 0.3s;
}
.hamburger-icon::before {
    top: -10px; 
    width: 30px;
}
.hamburger-icon::after {
    top: 10px;
    width: 30px;
}

.toggle-menu {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.hamburger-icon,
.toggle-menu {
    /* display: none; */
}
.navbar input:checked ~ .hamburger-icon {
    background: transparent;
}
.navbar input:checked ~ .hamburger-icon::before {
    transform: rotate(45deg);
    top: 0;
}
.navbar input:checked ~ .hamburger-icon::after {
    transform: rotate(-45deg);
    top: 0;
}

.navbar__menu {
    position: absolute;
    margin-top: 40px;
    margin-left: 14px;
    top: 0;
    left: 0;
    width: 99%
    display: none;
}

.navbar input:checked ~ .navbar__menu {
    display: block;
}