* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li a {
    width: 100%;
    display: block;
    background-color: darkgrey;
    padding: 10px 0;
    text-transform: uppercase;
    color: #fff;
}

ul {
    text-align: center;
    display: none;
}

li:hover ul {
    display: block;
}

/*.hamburger {
    width: 50px;
    height: 45px;
    border: 0;
    border-top: 5px solid red;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.2s transform linear;
    margin: 0 auto;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 5px solid red;
    transform: translateY(15px);
}

.hamburger::after {
    transform: translateY(35px);
    transition: 0.2s transform linear;
}

.hamburger:hover {
    transform: rotate(45deg) translateY(10px);
    border: none;
}

.hamburger:hover::after {
    transform: rotate(-90deg) translateX(-15px);
}*/

#menu-switcher:checked + ul {
    display: block;  
}

@media (min-width: 800px) {
    .first {
        display: flex;
        list-style: none;
    }
    .first > li {
        width: 300px;
    }

    .second {
        list-style: none;
    }
    #menu-switcher, label {
        display: none;
    }
}