.header {
    position: relative;
    height: 0;
    background-image: url(../../img/header_bgc_mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: calc(426 / 640 * 50%);
}



.nav__hamburger {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    width: 5rem;
    cursor: pointer;
    z-index: 3;
}

.hamburger__top,
.hamburger__middle,
.hamburger__bottom {
    border-radius: 10px;
    height: 5px;
    margin: 5px 0;
    background-color: var(--color-gamma);
    transition: 0.3s ease-out;
}

.hamburger__top {
    width: 50%;
}

.hamburger__middle {
    width: 100%;
}

.hamburger__bottom {
    width: 75%;
}

.hamburger__toggle {
    display: none;
}

.hamburger__toggle:checked+.nav__hamburger .hamburger__top {
    transform: translate(4px, 6px) rotate(45deg);
}

.hamburger__toggle:checked~.nav__hamburger .hamburger__middle {
    transform: rotate(-45deg);
}

.hamburger__toggle:checked~.nav__hamburger .hamburger__bottom {
    transform: translate(12px, -10px) rotate(45deg);
}



.header__logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow:
        -3px -3px 10px 0 var(--color-gamma),
        3px 3px 5px 0 var(--color-gamma),
        -6px -6px 120px 0 var(--color-delta),
        6px 6px 120px 0 var(--color-delta);

}

.logo__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}


.header__nav {
    position: absolute;
    width: 100%;
    visibility: hidden;
}

.nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    list-style: none;
    transform: scale(0);
    transition: 0.3s ease-out;
    border-radius: 25%;
    background-color: var(--color-delta);
    z-index: 2;
}

.nav__item {
    margin: 2rem 0;
}

.nav__item:last-of-type {
    margin-bottom: 0;
}

.nav__link {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-beta);
}

.hamburger__toggle:checked~.header__nav {
    visibility: visible;
}

.hamburger__toggle:checked~.header__nav .nav__list {
    transform: scale(1);
    border-radius: 0;
}