.main {
    align-items: center;
    padding-top: 2rem;
}

.main__article--first,
.main__article--second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10rem 0;
    background-color: var(--color-beta);
}


.article__heading {
    padding: 0 5rem 1rem 5rem;
    font-size: 1.8rem;

}

.article__text {
    padding: 0 5rem;
    font-size: 1.5rem;
}